@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --star-size: 20px;
    --star-color: rgb(161, 161, 161);
    --star-background: rgb(255, 136, 0);
}

.stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}

.stars::before {
    content: "★★★★★";
    letter-spacing: 3px;
    background: linear-gradient(
        90deg,
        var(--star-background) var(--percent),
        var(--star-color) var(--percent)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.search-icon {
    background-image: -webkit-radial-gradient(
            circle,
            transparent 20%,
            #ccc 20%,
            #ccc 30%,
            transparent 30%
        ),
        -webkit-linear-gradient(45deg, transparent 40%, #ccc 40%, #ccc 60%, transparent
                    60%);
    background-image: -moz-radial-gradient(
            circle,
            transparent 20%,
            #ccc 20%,
            #ccc 30%,
            transparent 30%
        ),
        -moz-linear-gradient(45deg, transparent 40%, #ccc 40%, #ccc 60%, transparent
                    60%);
    background-image: radial-gradient(
            circle,
            transparent 20%,
            #ccc 20%,
            #ccc 30%,
            transparent 30%
        ),
        linear-gradient(
            45deg,
            transparent 40%,
            #ccc 40%,
            #ccc 60%,
            transparent 60%
        );
    background-position: 25% 25%, 65% 65%;
    background-repeat: no-repeat, no-repeat;
    background-size: 75% 75%, 20% 20%;
    height: 50px;
    width: 50px;
}
.top-bg-full {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #018bf6;
}
.logo {
    max-height: 55px;
    max-width: 55px;
}
.middle-button {
    @apply text-green-700 rounded-full p-3;
    background: #fff;
    box-shadow: 0px 0px 8px -2px #000;
}
.middle-bg {
    box-shadow: 0px 0px 8px -2px #000;
    background-color: #ffffff;
}
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
    transition: all 0.3s ease;
}
.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}
.catContainer {
    -webkit-transform: perspective(600px) rotateX(-90deg);
    transform: perspective(600px) rotateX(-90deg);
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    visibility: hidden;
}
.catToggler:hover > .catContainer,
.catToggler:focus > .catContainer {
    opacity: 1;
    visibility: visible;
    transform: perspective(600px) rotateX(0deg);
}

/* Arrow info bar */
.steps-container {
    overflow: hidden;
    text-align: center;
    padding: 0px;
    white-space: nowrap;
    width: 100%;
    counter-reset: steps;
}

.steps {
    position: relative;
    display: inline-block;
    left: -36px; /* -2px default + 26px offset to hide skewed area on the left side of first element*/
    height: 66px;
    line-height: 66px;
    margin-left: 0px;
    margin-right: 0px;
    counter-increment: steps;
    cursor: pointer;
    transition: background 1s;
    min-height: 30px;
    width: calc(16.6667% + 25.8333px);
}

.steps:after,
.steps:before {
    position: absolute;
    content: "";
    left: 0px;
    height: 50%;
    width: 100%;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-left: 3px solid; /* thicker border as skew makes them look thin */
    border-right: 3px solid;
    background: rgba(255, 255, 255, 0.15);
}

.steps:before {
    transform: skew(45deg);
    top: 0px;
    border-bottom: none;
    transform-origin: top left;
}

.steps:after {
    transform: skew(-45deg);
    bottom: 0px;
    border-top: none;
    transform-origin: bottom left;
}

.steps span {
    display: block;
    padding-left: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 75%;
    vertical-align: middle;
    margin-top: 18px;
    margin-left: 10px;
}

.steps span span {
    display: inline;
    position: relative;
    top: -53px;
}

.steps.active span {
    font-weight: bold;
}
.steps.active:before,
.steps.active:after {
    background: rgba(0, 0, 0, 0.5);
}
/* End arrow info bar */

.custom-label input:checked + svg {
    display: block !important;
}

.plus {
    @apply relative text-white select-none;
    top: -1rem;
}

.overflow {
    background: rgba(122, 122, 122, 0.384);
    @apply fixed flex items-center justify-center w-screen h-screen top-0 right-0 bottom-0 left-0;
}

.times-btn {
    @apply absolute;
    top: 10%;
    right: 2%;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
